chardet
cffi
python-dateutil
pytz
paho-mqtt
requests
aiofiles
pycryptodome
vodozemac
python-olm
matrix-nio[e2e]
Pillow
pyaudio
sounddevice
soundfile
numpy
thinc==8.3.10
num2words
spacy==3.8.11
spacy-curated-transformers
phonemizer-fork
espeakng-loader
transformers
onnxruntime
soundfile
huggingface_hub
openwakeword
git+https://github.com/createcandle/misaki
git+https://github.com/createcandle/KittenTTS
