<div id="extension-voco-content" class="extension-voco-show-tab-timers">
  
    <div id="extension-voco-content-container">
        <h3 id="extension-voco-title">Voco</h3>
		
		<div id="extension-voco-add-token">
            <h3>Your permission is required</h3>
			<p>To fully use Voco you will first need to give it permission to control your things.</p>
            <p>Use the Candle app store to open Voco's settings page. There you can give Voco permission.</p>
			<!--
            <ol>
				<li>Generate and copy an authorization token from <a href="/oauth/authorize?response_type=code&client_id=local-token&scope=/things:readwrite&state=asdf">this page</a>. It's basically a very long password.</li>
				<li>Copy that code into the field below, and click 'save'.</li>
			</ol>
			<textarea id="extension-voco-token-input"></textarea>
			<button id="extension-voco-token-save-button">Save token</button><span id="extension-voco-add-token-message"></span>
			<p class="extension-voco-select-satellites extension-voco-italic">If you want to use this device as a satellite that doesn't manage any things, you can ignore this step.</p>-->
		</div>
		
        
		<div id="extension-voco-mqtt-error" style="display:none">
			<p>Voco seems to have trouble connecting to the MQTT server. If this device is a satellite, then the main controller may be down. If it's the main (or only) Voco controller, then this may indicate a configuration error.</p>
		</div>
        
        <div id="extension-voco-injection-busy" style="display:none">
            <div class="extension-voco-spinner">
                <div></div><div></div><div></div><div></div>
            </div>
            <p>Voco is still starting. This includes learning the names of all your devices. This should normally take no more than about 30 seconds, depending on how many things you have.</p>
        </div>
        
		<div id="extension-voco-injection-failure" style="display:none">
			<p>Voco seems to have trouble learning the names of your devices. Please make sure all the names of your things can be spoken. Avoid using any characters outside of the Latin alphabet. For example, do not use  # ! ? % & ( ) / ; + = .</p>
		</div>

		<div id="extension-voco-missing-microphone" style="display:none">
            <img id="extension-voco-missing-microphone-icon" src="/extensions/voco/images/menu-icon.svg" />
			<p style="text-align:center">No microphone was detected</p>
		</div>
        
		<div id="extension-voco-text-commands-container" style="display:none">
			<div id="extension-voco-text-input-container">
				<input id="extension-voco-text-input-field" placeholder="What time is it?"/>
				<button id="extension-voco-text-input-send-button" class="text-button">Send</button>
			</div>

			<div id="extension-voco-text-response-container" style="display:none"><span id="extension-voco-text-response-field">response will be here</span></div>
		</div>
		
		
		<div class="extension-voco-tab-buttons">
            <button id="extension-voco-tab-button-timers" class="extension-voco-main-tab-button extension-voco-tab-selected">Timers</button>
            <button id="extension-voco-tab-button-chat" class="extension-voco-main-tab-button">Chat</button>
			<button id="extension-voco-tab-button-satellites" class="extension-voco-main-tab-button">Satellites</button>
            <button id="extension-voco-tab-button-tutorial" class="extension-voco-main-tab-button">?</button>
        </div>
		
		<div id="extension-voco-tabs-container">
			
			<div id="extension-voco-tab-timers" class="extension-voco-tab">
				
				<div id="extension-voco-list">    
				</div>

				<div id="extension-voco-original-item" class="extension-voco-item">

					<div class="extension-voco-item-setter">
						<div class="extension-voco-icon">
						</div>

						<div class="extension-voco-sentence"></div>

						<div class="extension-voco-line2">
							<div class="extension-voco-time"></div>
							<div class="extension-voco-change"></div>
						</div>

					</div>

					<div class="extension-voco-item-menu">
						<div class="extension-voco-item-right">
							<div class="extension-voco-item-delete-button">&nbsp;</div>
						</div>
					</div>

				</div>
			</div>

			
			<div id="extension-voco-tab-satellites" class="extension-voco-tab extension-voco-hidden">
				<div id="extension-voco-satellites" class="extension-voco-centered-page">
					<img src="/extensions/voco/images/satellites.png" alt="Satellites example"/>
					<p>One microphone might not be enough to cover your entire home. That's why it's possible to create 'satellites'.</p> 
					
					<div class="extension-voco-no-satellites">
						<p>If other controllers are detected on the network, satellite mode will become available here.</p>
					</div>
					<div id="extension-voco-loading"><img src="/extensions/voco/images/spinner.gif" width="32" height="32" alt="Loading..."/ style="opacity:.5"></div>
					<div class="extension-voco-change-hostname-target">
						<h4>Please change the name</h4>
						<div class="extension-voco-select-satellites-question">
							<p>Each voco device in your local network should have a unique "domain" name. This controller is currently still using the default name. To change it, open the main menu and go to Settings and then "Domain". There you can enter a different name, and then click on the Save button. Please change the name to something unique, for example, "kitchen" or "bedroom". </p>
							<p><a href="/settings/domain"><button class="text-button">Change the name</button></a></p>
						</div>
					</div>
					<div class="extension-voco-select-satellites">
						<h4>Satellite mode</h4>
						<div class="extension-voco-select-satellites-question">
							<div id="extension-voco-server-list"></div>
							<div id="extension-voco-server-list-toggle">
								<form class="rule-switch switch">
									<input type="checkbox" id="extension-voco-select-satellite-checkbox" class="switch-checkbox">
									<label class="switch-slider extension-voco-switch-slider" for="extension-voco-select-satellite-checkbox">
									</label>
								</form>
							</div>
						</div>
						<p>Select the main controller you wish to connect to, and then enable satelite mode.</p>
						<p class="extension-voco-italic">Note: once in satellite mode, this device will no longer be able to control it's own things. It will only be able to control things or create timers on the main controller.</p>
					
					</div>
				</div>

			</div>



            <div id="extension-voco-tab-chat" class="extension-voco-tab extension-voco-hidden extension-voco-centered-page">
                
                
                <div id="extension-voco-chat-loading">
                    <div class="extension-voco-spinner">
                        <div></div><div></div><div></div><div></div>
                    </div>
                </div>
                
                <div id="extension-voco-matrix-create-account-step1" class="extension-voco-hidden">
                    <div class="extension-voco-two-column">
                        <div>
                            <img src="/extensions/voco/images/candle_voco_chat.png"/>
                            <h2>Chat with your home</h2>
                            <p>You can chat with Voco an encrypted messaging network called Matrix. This is very similar to Whatsapp or Signal. To use it you'll have to intall a Matrix app on your phone, tablet of computer, and create a Matrix account. <br/><span id="extension-voco-matrix-learn-more-button">Learn more</span></p>
                            <div id="extension-voco-matrix-learn-more" class="extension-voco-hidden">
                                <p>Matrix is like a cross between email and Whatsapp/Signal. Where Apps like Whatsapp have a central server that controls the entire chat network, with Matrix it's more like email, where lots of different servers exchange the messages. And as with email you can choose what provider you trust your messages with.</p>
                                <p>This design means no single organisation owns the chat network. Anyone can create a server, and then these servers route the messages between them so they get to the intented destination. You could even run your own server if you wanted, which would give you very high levels of control over your data.</p>
                                <p>This is made possible by the Matrix software that all these servers run. Matrix is open source, managed by the Matrix.org foundation, and supported by a worldwide community of people and organisations. The open source nature means the programming code can be viewed by anyone, including you. You can even help improve it. For many people this level of transparency allows for greater levels of trust.</p>
                                <p>The Matrix software can encrypt the messages, and Voco enables this for all the messages it sends.</p>
                                <p>You can learn much more at matrix.org.</p>
                            </div>
                            
                            <!--<button id="extension-voco-matrix-show-new-account-simple" class="text-button">Simple account creation</button>-->
                            
                            <!--
                            <button id="extension-voco-matrix-show-new-account-advanced" class="text-button">Advanced account creation</button>
                            <button id="extension-voco-matrix-show-new-account-exists" class="text-button">I already have a Matrix account</button>
                            -->
                        </div>
                        <div id="extension-voco-matrix-create-new-account-tabs">
                            <div id="extension-voco-matrix-create-new-account" class="extension-voco-hidden extension-voco-vlak">
                                <h3>Creating a Matrix account</h3>
                                <p>Candle can create a Matrix account for you, on a French Matrix server called domainepublic.net. This means your messages will be stored in France. Candle has no relation with this foundation, and has no control over what happens on their server. But we do trust it.</p>
                                <div style="display:none">
                                    <p><strong>Choose a server</strong><br/>
                                        Here is a list of popular and/or privacy protecting servers. Select which server you'd like to create an account on.
                                    </p>
                                    <select id="extension-voco-matrix-server-select">
                                        <option value="matrix.chatwave.org">matrix.chatwave.org (Germany)</option>
                                        <option value="matrix.duesen.chat">matrix.duesen.chat (Germany)</option>
                                        <option value="matrix.erfurt.chat">matrix.erfurt.chat (Germany)</option>
                                        <option value="matrix.yatrix.org">matrix.yatrix.org (Germany)</option>
                                        <option value="matrix.techsaviours.org">matrix.techsaviours.org (Germany)</option>
                                        <option value="matrix.domainepublic.net" selected>matrix.domainepublic.net (France)</option>
                                    </select>
                                </div>
                                
                                <br/><br/><strong>Username</strong><br/>
                                <input id="extension-voco-matrix-username"/>
                                <p class="extension-voco-matrix-input-description">Choose a unique username.</p>
                                
                                <br/><strong>Password</strong><br/>
                                <input id="extension-voco-matrix-password1" type="password" placeholder="Password"/><br/>
                                <input id="extension-voco-matrix-password2" type="password" placeholder="Repeat your password"/>
                                <p class="extension-voco-matrix-input-description">Voco does not remember your password. If you forget your password you will have to create a new account.</p>
                                <br/>
                                <button id="extension-voco-matrix-create-account-button" type="button" class="text-button">Create account</button>
                            </div>
                            
                            <div id="extension-voco-matrix-advanced-tip" class="extension-voco-vlak">
                                <p><span>Already have a Matrix account?</span>  <span id="extension-voco-matrix-show-new-account-skip">skip account creation</span></p>
                                <!--<p>If you are an advanced user you can <span id="extension-voco-matrix-show-new-account-advanced">view the advanced settings</span>.</p>-->
                            </div>
                            
                            
                            <div id="extension-voco-matrix-invite-main-user" class="extension-voco-hidden extension-voco-vlak">
                                <h3>What is your Matrix ID?</h3>
                                <p>Please provide your existing Matrix account ID. You will then be invited into the chat room.</p>
                        
                                <input id="extension-voco-matrix-invite-main-username-input" type="text" placeholder="@username:example.org" style="width:100%;box-sizing:border-box;padding: 2rem 1rem;margin-bottom:2rem"/>
                                <button id="extension-voco-matrix-invite-main-username-button" class="text-button">Join</button>
                        
                            </div>
                             
                            <div id="extension-voco-matrix-provide-account" class="extension-voco-hidden extension-voco-vlak">
                                <p>Advanced</p>
                                <h3>Manual configuration</h3>
                                <p>Here you can set any Matrix server you want. You can find a lot of available servers at joinmatrix.org.</p>
                                <p>In this case will need two accounts, one for yourself and one for Voco. Voco will then log-in with the account details you provide.</p>
                                
                                <h3>Matrix home server</h3>
                                <input id="extension-voco-matrix-provide-server"/><br/>
                        
                                <h3>Voco username</h3>
                                <input id="extension-voco-matrix-provide-username"/><br/>
                        
                                <h3>Voco password</h3>
                                <p>The password is stored on your controller, and is never transmitted to the outside world.</p>
                                <input id="extension-voco-matrix-provide-password" type="password" placeholder="Password"/><br/>
                    
                                <button id="extension-voco-matrix-provide-account-button" type="button" class="text-button">Save Matrix account for Voco</button>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                
                <div id="extension-voco-matrix-create-account-step2" class="extension-voco-hidden">
                    
                    <p style="text-align:center">Candle is able to connect to the Matrix server</p>
                    
                    <div id="extension-voco-matrix-download-app-tip" class="extension-voco-vlak">
                        <h2>Download an app that supports Matrix</h2>
                        
                        <p>Just like there are many Matrix chat servers, there are many (open source) apps you can use to "chat" with your smart home. Popular choices are:</p>
                        <p>
                            <ul>
                                <li>FluffyChat (www.fluffychat.im)</li>
                                <li>Element (www.element.io)</li>
                            </ul>
                        </p>
                        <p>Install one of these apps on your phone. Then you can login using this information:</p>
                        <div class="extension-voco-vlak">
                            <p>Home server: <span class="extension-voco-matrix-server extension-voco-bold">...</span></p>
                            <p>Username: <span class="extension-voco-matrix-username extension-voco-bold">...</span></p>
                            <p>Password: <span clas="extension-voco-bold">Voco does not store your password</span></p>
                        </div>
                        <p>Once logged in you will see a room called Candle. There you can give commands just as you would with your voice.</p>
                        <p>Additionaly, rules will now be able to send notifications to your phone.</p>
                    </div>
                    
                    <div id="extension-voco-matrix-invite-check-phone-tip" class="extension-voco-vlak extension-voco-hidden">
                        <p>You should have received an invite. Please check the app that you currently use with your Matrix account.</p>
                    </div>
                    
                    <div class="extension-voco-vlak">
                        <h3>Invite people</h3>
                        <p>You can invite additional people with a Matrix account into the chat room. All these people will be able to control your home and read all messages, so be careful who you invite.</p>
                        
                        <input id="extension-voco-matrix-invite-username-input" type="text" placeholder="@username:example.org" style="width:100%;box-sizing:border-box;padding: 2rem 1rem;margin-bottom:2rem"/>
                        <button id="extension-voco-matrix-invite-username-button" class="text-button">Invite</button>
                        
                    </div>
                    
                </div>
                 
            </div>


			<div id="extension-voco-tab-tutorial" class="extension-voco-tab extension-voco-hidden">
				<div id="extension-voco-tutorial" class="extension-voco-centered-page">
					<h2>How to use Voco</h2>
					<p>Voice control is really fun and useful, especially when you know your data stays in your own home. Here are some example commands. Voco is very flexible, you can say the commands in many different ways.</p>

					<p>Turn things on and off</p>
					<ul>
						<li>Turn on the livingroom light</li>
						<li>Switch on the livingroom light</li>
						<li>Switch off the livingroom light for five minutes</li>
						<li>Turn on the livingroom light in 2 hours</li>
						<li>Disable the livingroom light at a quarter past 4</li>
						<li>Disable the security camera at lunchtime</li>
						<li>Turn on the livingroom light from 4 pm until 5 pm</li>
						<li>Turn off the livingroom light between 6 and 7</li>
						<li>Open the front door</li>
						<li>For 5 minutes lock the front door</li>
						<li>Is the front door unlocked?</li>
						<li>Is the livingroom light on or off?</li>
					</ul>

					<p>Set things to certain values</p>
					<ul>
						<li>Set the color of the livingroom light to red</li>
						<li>Set the brightness of the livingroom light to 88</li>
						<li>Set the livingroom light to 88</li>
						<li>Set the color of the livingroom light to orange for 5 minutes</li>
						<li>For 5 minutes set the brightness of the livingroom light to 88</li>
						<li>Set the brightness of the livingroom light to 100 percent from 4 until 5 o' clock</li>
					</ul>

					<p>Ask about certain values</p>
					<ul>
						<li>What is the brightness of the livingroom light?</li>
						<li>Can you tell me the color of the livingroom light?</li>
						<li>What is the humidity level of the weather station?</li>
						<li>What are the levels of the fine dust sensor?</li>
						<li>What is the carbon dioxide value of the carbon sensor?</li>
					</ul>

					<p>Set timers, alarms, reminders or a countdown</p>
					<ul>
						<li>Set a timer for 5 minutes</li>
						<li>Set a timer for 3 o' clock</li>
						<li>At 9 pm remind me to go to the supermarket</li>
						<li>Remind me to go to the supermarket at 2 o' clock tomorrow afternoon</li>
						<li>In one hour and 15 minutes remind me to empty the washing machine</li>
						<li>Set an alarm for 8 o' clock tomorrow morning</li>
						<li>Set a countdown for midnight</li>
						<li>How much longer does the countdown have to go?</li>
						<li>Disable the countdown</li>
					</ul>

					<p>Manage your timers</p>
					<ul>
						<li>What are my reminders?</li>
						<li>Tell me about the timers</li>
						<li>Please give me a list of all my alarms</li>
						<li>How much time does the countdown have to go?</li>
						<li>How much longer does the countdown have to go?</li>
						<li>Disable the countdown</li>
						<li>Remove the last reminder</li>
						<li>Remove all reminders</li>
						<li>Delete all reminders</li>
						<li>Could you please delete all the reminders?</li>
						<li>Disable all the alarms</li>
					</ul>

					<p>Other</p>
					<ul>
						<li>Hello</li>
						<li>What time is it?</li>
					</ul>

				</div>
			</div>
		</div>
		
		
		
		

        <br/>
        <br/>

        <div id="extension-voco-debug-warning" style="display:none">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode by going to <span style="font-style:italic">Settings</span>, then <span style="font-style:italic">Addons</span>, and then clicking on the <span style="font-style:italic">Settings</span> button for the <span style="font-style:italic">Voco</span> addon. There you can uncheck the debugging option and click <span style="font-style:italic">Apply</span>.
        </div>

        <div id="extension-voco-response">
            <p id="extension-voco-response-data" class="extension-voco-centered-error"></p>
        </div>
        <br/>

    </div>
    
</div>





